body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}
ul{
    margin: 0;
    padding:0;
}