.btn {
    background-color: $btn;
    color: #fff;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;
    margin-top: 4px;

    &:hover{
        color: black;
    }

    &--large
    {
        width: 190px;
    }
    
}
