.modal{
    position: fixed;
    z-index: 5;
    opacity: 0;
    top: 50%;
    bottom: 0;
    left: 25%;
    right: 0;
    width: 50%;
    height: 50%;
    transform: translateY(-50%)  ;
    text-align: center;
   transition: opacity .7s ease-out;
   

     visibility: hidden; 
    background-color: rgba(255, 255, 255, .94);
}

.vmodal{
    opacity: 1;
    visibility: visible;
   
}