.page-section {
    padding: 2rem 0;
    @mixin atMedium {
        padding: 4.5rem 0;
    }
    &--nopadding-b-unitl-large {
        padding-bottom: 0;
        @mixin atLarge {
            padding-bottom: 4.5rem;
        }
    }
    &--nopadding-b-unitl-med {
        padding-bottom: 0;
        @mixin atMedium {
            padding-bottom: 4.5rem;
        }
    }
    &--blue {
        background-color: $mainBlue;
        color: #fff;
    }
    &--monials {
        background-color: #e0e6ef;
        @mixin atLarge {
            background: url("/assets/images/testimonials-bg.jpg") top center no-repeat;
            background-size: cover;
        }
    }
}